@tailwind components;

@layer components {
  .link-hover {
    @apply relative flex w-max transition-colors duration-300;
  }

  .link-hover::after {
    content: "";
    width: 0;
    height: 1px;
    background-color: theme("colors.lightGrey");
    position: absolute;
    bottom: -1px;
    left: 0;
    transition: width 0.3s ease;
  }

  .link-hover:hover {
    @apply text-lightGrey;
  }

  .link-hover:hover::after {
    width: 100%;
  }

  .link-hovered {
    color: theme("colors.lightGrey");
  }

  .link-hovered::after {
    width: 100%;
  }
}
